.list-socials {
  display: flex;
  gap: 10px;
  justify-content: center;

  &__link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-radius: 50%;
    cursor: pointer;

    transition: background-color $duration $cubic, fill $duration $cubic;
  }
  &__link:hover,
  &__link:focus {
    background-color: $accentColor;
  }
  &__icon {
    fill: #afb1b8;
  }
  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: white;
  }
}
