.img-action {
  position: relative;
  overflow: hidden;

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(100%);

    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    background: rgba(33, 150, 243, 0.9);
    color: white;

    transition: transform $duration $cubic, opacity $duration $cubic;
  }
}
