.list-filtr {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  &__item {
    max-width: 370px;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
  }

  &__item:hover .img-action__text {
    opacity: 1;
    transform: translate(0);
  }
}
