.name-card {
  width: 370px;
  border: 1px solid #eeeeee;
  transition: border $duration $cubic;

  .list-filtr__item:hover &,
  .list-filtr__item:focus & {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__title {
    margin-bottom: 4px;
    padding: 0 24px;
    padding-top: 20px;

    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.06em;
    color: $colMain;
  }
  &__text {
    padding: 20px 24px;
    padding-top: 0;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: $colMinor;
  }
}
