.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: #2f303a;

  .container--footer-flex {
    display: flex;
  }
}

.logo--bottom-gap {
  display: inline-block;
  margin-bottom: 20px;
}
.logo__span--white {
  color: white;
  transition: color $duration $cubic;
}
.logo:hover .logo__span--white {
  color: #c4c4c4;
}
